@model GestionInventario.Models.Inventario
<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Edit", "Inventario", FormMethod.Post, new { id = "StockInventario", role = "form" }))
        {
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center;"><strong>Modificar Stock</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(p => p.Codigo)
                        @*@Html.HiddenFor(p => p.tipoPDF)*@
                        @*<label>CV</label>
                            <INPUT id="oFile" type="file" runat="server" NAME="oFile" accept="application/pdf">
                            <label>OtroPDF</label>
                            <INPUT id="oFile1" type="file" runat="server" NAME="oFile1">*@
                        <label>Stock</label>
                        @Html.TextBoxFor(model => model.Stock, new { @class = "form-control", @maxlength = "8" })

                    </div>
                </div><div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                    <button type="submit" id="btnIngresarStock" class="btn btn-danger"><i class="fa fa-check"></i> GUARDAR STOCK <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
                                <input type="hidden" name="confirmacion" id="confirmacion" value="" />}
    </div>
</div>



<script>

    $(document).ready(function ()
    {
        console.log("entro")
        $("#btnIngresarStock").click(function (e) {
            $("#cargaDatosBarra").modal('show');
            e.preventDefault();
            url = "@Url.Action("Edit", "Inventario")"
            parametros = $("#StockInventario").serialize();
            $.post(url, parametros, function (response) {
                if (response.Error) {
                    console.log("entro al if")
                    setTimeout(bajaModal, 1000);
                    setTimeout(carga, 4000);

                    function bajaModal() {
                        $('#cargarMensajes').modal('show');
                        $('#mensajeLoad').html(response.Mensaje);
                        $("#cargaDatosBarra").modal('hide');
                    }
                    function carga() {
                        $('#cargarMensajes').modal('hide');
                    }
                    @*document.location.href = "@Url.Action("Add","Usuario")"*@
                }
                else {
                    console.log("entro al else")
                    setTimeout(bajaModal, 1000);
                    setTimeout(carga, 4000);
                    //setTimeout(redireccionar, 1000)
                    function bajaModal() {
                        $('#cargarMensajes').modal('show');
                        $('#mensajeLoad').html(response.Mensaje);
                        $("#cargaDatos").modal('hide');
                    }
                    function carga() {
                        $("#modificarStock").modal('hide');
                        document.location.href = "@Url.Action("Index","Inventario")"
                    }


                }
            })
        });
    });

</script>
