@model GestionInventario.Models.View.InventarioView
@{
    ViewBag.Title = "Index";
}

<h2>Inventario</h2>

@ViewBag.Mensaje

@*<button type="button" class="btn btn-success"><a href="@Url.Content("~/Producto/Add")">Ingresar Producto</a></button>*@

<table class="table">
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Nombre Producto
        </th>
        <th>
            Stock
        </th>
        <th>
            Precio Unitario
        </th>
        <th>
            #
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var itemActivo in Model.inventarioActivo)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => itemActivo.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemActivo.Producto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemActivo.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemActivo.Producto.precioUnitario)
            </td>
            <td>
                <a id="btnEditCaso" onclick="editar(@itemActivo.Codigo)" class="btn btn-outline btn-success btn-xs newTooltip" title="Editar"
                   data-placement="left" data-toggle="tooltip" data-original-title="">
                    <span class="fa fa-edit fa-2x"> </span>
                </a>
                <a id="btnDelete" onclick="eliminar(@itemActivo.Codigo)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Eliminar"
                   data-placement="left" data-toggle="tooltip" data-original-title="">
                    <span class="fa fa-trash fa-2x"> </span>
                </a>

                @*<a id="btnEditCaso" onclick="editarCaso(@a.idCaso)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Editar Caso"
                       data-placement="left" data-toggle="tooltip" data-original-title="">
                        <span class="fa fa-edit fa-2x"> </span>
                    </a>*@
            </td>
        </tr>
    }

</table>

<h2>Inventario Eliminado</h2>

<table class="table">
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Nombre Producto
        </th>
        <th>
            Stock
        </th>
        <th>
            Precio Unitario
        </th>
        <th>
            #
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var itemInactivo in Model.inventarioInactivo)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => itemInactivo.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemInactivo.Producto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemInactivo.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemInactivo.Producto.precioUnitario)
            </td>
            <td>
                <a id="btnEditCaso" onclick="activar(@itemInactivo.Codigo)" class="btn btn-outline btn-success btn-xs newTooltip" title="Activar"
                   data-placement="left" data-toggle="tooltip" data-original-title="">
                    <span class="fa fa-edit fa-2x"> </span>
                </a>
                @*<a id="btnDelete" onclick="eliminar(@itemInactivo.Codigo)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Eliminar"
                   data-placement="left" data-toggle="tooltip" data-original-title="">
                    <span class="fa fa-trash fa-2x"> </span>
                </a>*@

                @*<a id="btnEditCaso" onclick="editarCaso(@a.idCaso)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Editar Caso"
                       data-placement="left" data-toggle="tooltip" data-original-title="">
                        <span class="fa fa-edit fa-2x"> </span>
                    </a>*@
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="modificarStock" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">

</div>


@section scripts
{
    <script>
        $(document).ready(function () {

        });

        function editar(Codigo) {
            @*console.log(Codigo)
            document.location.href = "@Url.Content("~/Inventario/Edit")" + "/" + Codigo;*@
            var url = '@Url.Action("Edit","Inventario")';
            $.ajax({
                type: 'GET',
                url: url,
                data: {Codigo: Codigo},
                success: function (response) {
                    $("#modificarStock").html(response);
                    $("#modificarStock").modal('show');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }

        function activar(Codigo) {
            @*console.log(Codigo)
            document.location.href = "@Url.Content("~/Inventario/Edit")" + "/" + Codigo;*@
            var url = '@Url.Action("Activar", "Inventario")';
            $.ajax({
                type: 'POST',
                url: url,
                data: {Codigo: Codigo},
                success: function (response) {
                   if (response.Error == true) {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);

                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatosBarra").modal('hide');
                        }
                        function carga() {
                            $('#cargarMensajes').modal('hide');
                        }

                    }
                    else {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);
                        //setTimeout(redireccionar, 1000)
                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatos").modal('hide');
                        }
                        function carga() {
                            //$('#cargarMensajes').modal('hide');
                            document.location.href = "@Url.Action("Index","Inventario")";
                        }


                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }


        function eliminar(Codigo) {
            if (confirm("Esta seguro que desea eliminar el inventario???")) {
               var url = '@Url.Action("Delete","Inventario")';
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { Codigo: Codigo },
                    success: function (response) {
                        if (response.Error == true) {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);

                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatosBarra").modal('hide');
                        }
                        function carga() {
                            $('#cargarMensajes').modal('hide');
                        }

                    }
                    else {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);
                        //setTimeout(redireccionar, 1000)
                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatos").modal('hide');
                        }
                        function carga() {
                            //$('#cargarMensajes').modal('hide');
                            document.location.href = "@Url.Action("Index","Inventario")";
                        }


                    }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });


            }

        }


    </script>

}




