@model GestionInventario.Models.View.InventarioView
@{
    ViewBag.Title = "Index";
}

@*<h2>Inventario</h2>*@

@ViewBag.Mensaje

@*<button type="button" class="btn btn-success"><a href="@Url.Content("~/Producto/Add")">Ingresar Producto</a></button>*@

<div class="panel panel-danger">

    <div class="panel-heading text-left">
        <div class="row">
            <div class="col-lg-6 col-md-9 col-sm-9 col-xs-12">
                <h4><i class="fa fa-user fa-fw "></i>Lista Inventario</h4>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-3 col-xs-12 text-right">
                <a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-success" href="@Url.Action("repoInventarioFull", "Inventario")" role="button"><i class="fa fa-file-excel"> </i>  DESCARGAR INVENTARIO</a> @*<a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-green" href="@Url.Action("reposCasosFull", "CasoCovid")" role="button"><i class="fa fa-file-excel-o"> </i>  DESCARGAR CASOS</a>*@
                @*<a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-red" href="@Url.Action("newCovidCase", "CasoCovid")" role="button"><i class="fa fa-plus"> </i>  ACTIVAR NUEVO CASO</a>
                    <a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-blue" href="@Url.Action("enviarCorreo", "CasoCovid")" role="button"><i class="fa fa-envelope"> </i>  ENVIAR CORREO</a>*@

            </div>

        </div>
    </div>
    <div class="panel-body">


        <table class="table" id="tablaInventario">
            <thead>
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Nombre Producto
                    </th>
                    <th>
                        Stock
                    </th>
                    <th>
                        Precio Unitario
                    </th>
                    <th>
                        #
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var itemActivo in Model.inventarioActivo)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => itemActivo.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemActivo.Producto.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemActivo.Stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemActivo.Producto.precioUnitario)
                        </td>
                        <td>
                            <a id="btnEditCaso" onclick="editar(@itemActivo.Codigo)" class="btn btn-outline btn-success btn-xs newTooltip" title="Editar"
                               data-placement="left" data-toggle="tooltip" data-original-title="">
                                <span class="fa fa-edit fa-1x"> </span>
                            </a>
                            @*<a id="btnDelete" onclick="eliminar(@itemActivo.Codigo)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Eliminar"
                                   data-placement="left" data-toggle="tooltip" data-original-title="">
                                    <span class="fa fa-trash fa-2x"> </span>
                                </a>*@

                            @*<a id="btnEditCaso" onclick="editarCaso(@a.idCaso)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Editar Caso"
                                   data-placement="left" data-toggle="tooltip" data-original-title="">
                                    <span class="fa fa-edit fa-2x"> </span>
                                </a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="modal fade" id="modificarStock" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">

</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#tablaInventario').DataTable();
        });

        function editar(Codigo) {
            @*console.log(Codigo)
            document.location.href = "@Url.Content("~/Inventario/Edit")" + "/" + Codigo;*@
            var url = '@Url.Action("Edit","Inventario")';
            $.ajax({
                type: 'GET',
                url: url,
                data: {Codigo: Codigo},
                success: function (response) {
                    $("#modificarStock").html(response);
                    $("#modificarStock").modal('show');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }

        function activar(Codigo) {
            @*console.log(Codigo)
            document.location.href = "@Url.Content("~/Inventario/Edit")" + "/" + Codigo;*@
            var url = '@Url.Action("Activar", "Inventario")';
            $.ajax({
                type: 'POST',
                url: url,
                data: {Codigo: Codigo},
                success: function (response) {
                   if (response.Error == true) {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);

                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatosBarra").modal('hide');
                        }
                        function carga() {
                            $('#cargarMensajes').modal('hide');
                        }

                    }
                    else {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);
                        //setTimeout(redireccionar, 1000)
                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatos").modal('hide');
                        }
                        function carga() {
                            //$('#cargarMensajes').modal('hide');
                            document.location.href = "@Url.Action("Index","Inventario")";
                        }


                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }


        function eliminar(Codigo) {
            if (confirm("Esta seguro que desea eliminar el inventario???")) {
               var url = '@Url.Action("Delete","Inventario")';
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { Codigo: Codigo },
                    success: function (response) {
                        if (response.Error == true) {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);

                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatosBarra").modal('hide');
                        }
                        function carga() {
                            $('#cargarMensajes').modal('hide');
                        }

                    }
                    else {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);
                        //setTimeout(redireccionar, 1000)
                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatos").modal('hide');
                        }
                        function carga() {
                            //$('#cargarMensajes').modal('hide');
                            document.location.href = "@Url.Action("Index","Inventario")";
                        }


                    }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });


            }

        }


    </script>

}




