@model List<GestionInventario.Models.View.UsuarioView>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.Mensaje

<button type="button" class="btn btn-success"><a href="@Url.Content("~/Usuario/Add")">Ingresar Usuario</a></button>

<table class="table">
    <tr>
        <th>
            Rut
        </th>
        <th>
            Nombre
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>*@
        <th>
            #
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a id="btnEditCaso" onclick="editar('@item.Id.ToString()')" class="btn btn-outline btn-success btn-xs newTooltip" title="Editar"
                   data-placement="left" data-toggle="tooltip" data-original-title="">
                    <span class="fa fa-edit fa-2x"> </span>
                </a>
                <a id="btnDelete" onclick="eliminar('@item.Id.ToString()')" class="btn btn-outline btn-danger btn-xs newTooltip" title="Eliminar"
                   data-placement="left" data-toggle="tooltip" data-original-title="">
                    <span class="fa fa-trash fa-2x"> </span>
                </a>
                <a id="btnDelete" onclick="resetearPass('@item.Id.ToString()')" class="btn btn-outline btn-danger btn-xs newTooltip" title="Restablecer Pass"
                   data-placement="left" data-toggle="tooltip" data-original-title="">
                    <span class="fa fa-trash fa-2x"> </span>
                </a>

                @*<a id="btnEditCaso" onclick="editarCaso(@a.idCaso)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Editar Caso"
           data-placement="left" data-toggle="tooltip" data-original-title="">
            <span class="fa fa-edit fa-2x"> </span>
        </a>*@
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {

        });

        function editar(Id) {
            document.location.href = "@Url.Content("~/Usuario/modificar")" + "/" + Id;
        }

        function resetearPass(Id) {
             if (confirm("Esta seguro que desea restablecer la contraseña???")) {

                var url = "@Url.Content("~/Usuario/recetearPass")" + "/" + Id;               
                $.post(url, function (response) {
                    if (response.Error == true) {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);

                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatosBarra").modal('hide');
                        }
                        function carga() {
                            $('#cargarMensajes').modal('hide');
                        }

                    }
                    else {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);
                        //setTimeout(redireccionar, 1000)
                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatos").modal('hide');
                        }
                        function carga() {
                            //$('#cargarMensajes').modal('hide');
                            document.location.href = "@Url.Action("Index","Usuario")";
                        }


                    }
                });


            }
        }


        function eliminar(Id) {
            if (confirm("Esta seguro que desea eliminar???")) {

                var url = "@Url.Content("~/Usuario/Delete")" + "/" + Id;
                console.log("entro aca");



                @*@Guid.NewGuid(Id);*@
                var parametros = Id;
                console.log(parametros)
                console.log("entro aca");
                $.post(url, function (response) {
                    if (response.Error == true) {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);

                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatosBarra").modal('hide');
                        }
                        function carga() {
                            $('#cargarMensajes').modal('hide');
                        }

                    }
                    else {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);
                        //setTimeout(redireccionar, 1000)
                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatos").modal('hide');
                        }
                        function carga() {
                            //$('#cargarMensajes').modal('hide');
                            document.location.href = "@Url.Action("Index","Usuario")";
                        }


                    }
                });


            }

        }


    </script>
    
}
