@model GestionInventario.Models.View.UsuarioView

@{
    ViewBag.Title = "modificar";
}

<h2>modificar</h2>

@using (Html.BeginForm("modificar", "Usuario", FormMethod.Post, new { id = "FormModificar", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>UsuarioView</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.RutCuerpo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.RutCuerpo, new { @class = "form-control", @maxlength = "8" })
            @Html.ValidationMessageFor(model => model.RutCuerpo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RutDigito, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.RutDigito, new { @class = "form-control", @maxlength = "1" })
            @Html.ValidationMessageFor(model => model.RutDigito, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ApellidoPaterno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ApellidoMaterno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @type = "date", @Value = Model.FechaNacimiento.Value.ToString("yyyy-MM-dd") })
            @*@Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Sexo</label>
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Sexo, new SelectList(Model.Sexos.OrderBy(z => z.Nombre), "Codigo", "Nombre"), "Seleccione Sexo...", new { @class = "form-control", name = "Sexo" })
            @*@Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @*<div class="btn-group" data-toggle="buttons">*@
        @for (var x1 = 0; x1 <= (Model.rols.Count() - 1); x1++)
        {
            <div id="@Model.rols[x1].Codigo" class="col-md-offset-2 col-md-10">
                <input id="RolList[@x1]" type="checkbox" name="RolList[@x1]" value=@Model.rols[x1].Codigo checked="@(Model.Rol.Contains(@Model.rols[x1].Codigo)? true : false)" >
                @Model.rols[x1].Nombre
            </div>}
        @*</div>*@
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-warning">@Html.ActionLink("Volver", "Index")</button>
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
</div>
}


@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@


@section scripts
{
    <script>

    $(document).ready(function ()
    {

        $("#FormModificar").submit(function (e) {
            $("#cargaDatosBarra").modal('show');
            e.preventDefault();
            url = "@Url.Action("modificar", "Usuario")"
            parametros = $(this).serialize();
            $.post(url, parametros, function (response) {
                if (response.Error == true) {
                    setTimeout(bajaModal, 1000);
                    setTimeout(carga, 4000);

                    function bajaModal() {
                        $('#cargarMensajes').modal('show');
                        $('#mensajeLoad').html(response.Mensaje);
                        $("#cargaDatosBarra").modal('hide');
                    }
                    function carga() {
                        $('#cargarMensajes').modal('hide');
                    }
                    @*document.location.href = "@Url.Action("Add","Usuario")"*@
                }
                else {
                    setTimeout(bajaModal, 1000);
                    setTimeout(carga, 4000);
                    //setTimeout(redireccionar, 1000)
                    function bajaModal() {
                        $('#cargarMensajes').modal('show');
                        $('#mensajeLoad').html(response.Mensaje);
                        $("#cargaDatos").modal('hide');
                    }
                    function carga() {
                        //$('#cargarMensajes').modal('hide');
                        document.location.href = "@Url.Action("Index","Usuario")"
                    }


                }
            })
        });
    });

    </script>
}