@model List<GestionInventario.Models.Rol>
@{
    ViewBag.Title = "Rol";
}

@*<h2>Rol</h2>*@


<div class="panel panel-danger">

    <div class="panel-heading text-left">
        <div class="row">
            <div class="col-lg-6 col-md-9 col-sm-9 col-xs-12">
                <h4><i class="fa fa-user fa-fw "></i>Roles</h4>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-3 col-xs-12 text-right">
                <a class="btn btn-success" id="btnAgregarRol" @*href="@Url.Action("AddRol", "Usuario")"*@ role="button"><i class="fa fa-plus"> </i>Ingresar Rol</a> @*<a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-green" href="@Url.Action("reposCasosFull", "CasoCovid")" role="button"><i class="fa fa-file-excel-o"> </i>  DESCARGAR CASOS</a>*@
                @*<a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-red" href="@Url.Action("newCovidCase", "CasoCovid")" role="button"><i class="fa fa-plus"> </i>  ACTIVAR NUEVO CASO</a>
                    <a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-blue" href="@Url.Action("enviarCorreo", "CasoCovid")" role="button"><i class="fa fa-envelope"> </i>  ENVIAR CORREO</a>*@

            </div>

        </div>
    </div>

    <div class="panel-body">

        <table class="table" id="tablaRoles">
            <thead>
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        #
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            <a id="btnEditRol" onclick="editar(@item.Codigo)" class="btn btn-outline btn-success btn-xs newTooltip" title="Editar"
                               data-placement="left" data-toggle="tooltip" data-original-title="">
                                <span class="fa fa-edit fa-1x"> </span>
                            </a>
                            <a id="btnDeleteRol" onclick="eliminar(@item.Codigo)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Eliminar"
                               data-placement="left" data-toggle="tooltip" data-original-title="">
                                <span class="fa fa-trash fa-1x"> </span>
                            </a>

                            @*<a id="btnEditCaso" onclick="editarCaso(@a.idCaso)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Editar Caso"
                                   data-placement="left" data-toggle="tooltip" data-original-title="">
                                    <span class="fa fa-edit fa-2x"> </span>
                                </a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="modal fade" id="agregarRol" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">

</div>
<div class="modal fade" id="modificarRol" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#tablaRoles').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                    }
                });



            $("#btnAgregarRol").click(function (e) {
                e.preventDefault;
                $("#cargaDatosBarra").modal('show');
                var url = '@Url.Action("AddRol","Usuario")';
                    $.ajax({
                    type: 'GET',
                    url: url,
                    //data: {Codigo: Codigo},
                    success: function (response) {
                        $("#agregarRol").html(response);
                        $("#agregarRol").modal('show');
                        $("#cargaDatosBarra").modal('hide');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                    });

            });


        });



        function editar(Codigo) {
            console.log(Codigo)
            //document.location.href = "@Url.Content("~/Inventario/Edit")" + "/" + Codigo;
            $("#cargaDatosBarra").modal('show');
            var url = '@Url.Action("ModificarRol", "Usuario")';
            $.ajax({
                type: 'GET',
                url: url,
                data: {Codigo: Codigo},
                success: function (response) {
                    $("#modificarRol").html(response);
                    $("#modificarRol").modal('show');
                    $("#cargaDatosBarra").modal('hide');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }


        function eliminar(Codigo) {
            if (confirm("Esta seguro que desea eliminar???")) {
                $("#cargaDatosBarra").modal('show');
                var url = '@Url.Action("DeleteRol", "Usuario")';
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { Codigo: Codigo},
                    success: function (response) {
                        if (response.Error == true) {
                            setTimeout(bajaModal, 1000);
                            setTimeout(carga, 4000);

                            function bajaModal() {
                                $('#cargarMensajes').modal('show');
                                $('#mensajeLoad').html(response.Mensaje);
                                $("#cargaDatosBarra").modal('hide');
                            }
                            function carga() {
                                $('#cargarMensajes').modal('hide');
                            }

                        }
                        else {
                            setTimeout(bajaModal, 1000);
                            setTimeout(carga, 4000);
                            //setTimeout(redireccionar, 1000)
                            function bajaModal() {
                                $('#cargarMensajes').modal('show');
                                $('#mensajeLoad').html(response.Mensaje);
                                $("#cargaDatos").modal('hide');
                            }
                            function carga() {
                                //$('#cargarMensajes').modal('hide');
                                document.location.href = "@Url.Action("Rol", "Usuario")";
                            }


                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });


            }

        }


    </script>

}


