@model List<GestionInventario.Models.View.UsuarioView>
@{
    ViewBag.Title = "UsuariosInactivos";
}



@ViewBag.Mensaje

@*<button type="button" class="btn btn-success"><a href="@Url.Content("~/Usuario/Add")">Ingresar Usuario</a></button>*@

<div class="panel panel-danger">

    <div class="panel-heading text-left">
        <div class="row">
            <div class="col-lg-6 col-md-9 col-sm-9 col-xs-12">
                <h4><i class="fa fa-user fa-fw "></i>Usuarios Inactivos</h4>
            </div>
            <!--<div class="col-lg-6 col-md-3 col-sm-3 col-xs-12 text-right">
                <a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-success" href="Url.Action("repoInventarioHistoricoFull", "Inventario")" role="button"><i class="fa fa-file-excel"> </i>  DESCARGAR INVENTARIO HISTORICO</a>-->
            @*<a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-green" href="@Url.Action("reposCasosFull", "CasoCovid")" role="button"><i class="fa fa-file-excel-o"> </i>  DESCARGAR CASOS</a>*@
            @*<a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-red" href="@Url.Action("newCovidCase", "CasoCovid")" role="button"><i class="fa fa-plus"> </i>  ACTIVAR NUEVO CASO</a>
                <a style="width: 180px;padding: 10px 0px 10px 0px;margin: 0px;" class="btn btn-lg bg-blue" href="@Url.Action("enviarCorreo", "CasoCovid")" role="button"><i class="fa fa-envelope"> </i>  ENVIAR CORREO</a>*@

            <!--</div>-->

        </div>
    </div>

    <div class="panel-body">

        <table class="table" id="tablaUsuario">
            <thead>
                <tr>
                    <th>
                        Rut
                    </th>
                    <th>
                        Nombre
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Credits)
                        </th>*@
                    <th>
                        #
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @*<a id="btnEditCaso" onclick="editar('@item.Id.ToString()')" class="btn btn-outline btn-success btn-xs newTooltip" title="Editar"
                               data-placement="left" data-toggle="tooltip" data-original-title="">
                                <span class="fa fa-edit fa-1x"> </span>
                            </a>*@
                            <a id="btnDelete" onclick="eliminar('@item.Id.ToString()')" class="btn btn-outline btn-success btn-xs newTooltip" title="Habilitar"
                               data-placement="left" data-toggle="tooltip" data-original-title="">
                                <span class="fa fa-pencil fa-1x"> </span>
                            </a>
                            @*<a id="btnDelete" onclick="resetearPass('@item.Id.ToString()')" class="btn btn-outline btn-danger btn-xs newTooltip" title="Restablecer Pass"
                               data-placement="left" data-toggle="tooltip" data-original-title="">
                                <span class="fa fa-fa fa-undo fa-1x"> </span>
                            </a>*@

                            @*<a id="btnEditCaso" onclick="editarCaso(@a.idCaso)" class="btn btn-outline btn-danger btn-xs newTooltip" title="Editar Caso"
                                   data-placement="left" data-toggle="tooltip" data-original-title="">
                                    <span class="fa fa-edit fa-2x"> </span>
                                </a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {
            $('#tablaUsuario').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                    }
                });
        });

        function editar(Id) {
            document.location.href = "@Url.Content("~/Usuario/modificar")" + "/" + Id;
        }

        function resetearPass(Id) {
             if (confirm("Esta seguro que desea restablecer la contraseña???")) {

                var url = "@Url.Content("~/Usuario/recetearPass")" + "/" + Id;
                $.post(url, function (response) {
                    if (response.Error == true) {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);

                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatosBarra").modal('hide');
                        }
                        function carga() {
                            $('#cargarMensajes').modal('hide');
                        }

                    }
                    else {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);
                        //setTimeout(redireccionar, 1000)
                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatos").modal('hide');
                        }
                        function carga() {
                            //$('#cargarMensajes').modal('hide');
                            document.location.href = "@Url.Action("Index","Usuario")";
                        }


                    }
                });


            }
        }


        function eliminar(Id) {
            if (confirm("Esta seguro que desea Habilitar al usuario???")) {
                $("#cargaDatosBarra").modal('show');
                var Activo = 1;
                //var url = "Url.Content("~/Usuario/Delete")" + "/" + Id + ":" + Activo;
                var url = "@Url.Action("Delete","Usuario")" + "?Id=" + Id + "&Activo=" + Activo;
                console.log(url)
                @*@Guid.NewGuid(Id);*@
                var parametros = {Id: Id, Activo: Activo};

                $.post(url, function (response) {
                    if (response.Error == true) {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);

                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatosBarra").modal('hide');
                        }
                        function carga() {
                            $('#cargarMensajes').modal('hide');
                        }

                    }
                    else {
                        setTimeout(bajaModal, 1000);
                        setTimeout(carga, 4000);
                        //setTimeout(redireccionar, 1000)
                        function bajaModal() {
                            $('#cargarMensajes').modal('show');
                            $('#mensajeLoad').html(response.Mensaje);
                            $("#cargaDatos").modal('hide');
                        }
                        function carga() {
                            //$('#cargarMensajes').modal('hide');
                            document.location.href = "@Url.Action("UsuariosInactivos", "Usuario")";
                        }


                    }
                });


            }

        }


    </script>

}
